<div class="row">
  <div class="col-md-12 text-center display-4">
    Welcome :)
  </div>
</div>
<br />
<div class="row mt-0">
  <div class="col-lg-9">
    <div class="card">
      <div class="card-body">
        <img class="img-fluid" src="assets/img/imageimage1.jpg">
        <div class="page-header">
          <h3>Whatever you want <small>Posted on Oct
              2</small></h3>
        </div>
        <p></p>
        <p>Vestibulum porttitor, erat id mattis suscipit, ligula turpis malesuada neque, eget tempor augue felis at
          felis. Aliquam ut aliquam sem, maximus malesuada ipsum. Phasellus ullamcorper, dolor ullamcorper pulvinar
          rutrum, arcu augue mattis turpis, et semper nunc eros eget est. Mauris gravida purus sit amet consectetur
          ultrices. Nulla eget libero a ante placerat rutrum.Sed eros leo, laoreet quis interdum scelerisque,
          luctus vel elit. Curabitur mollis, eros vel tempus
          faucibus, ipsum lacus ultricies eros, ac fringilla
          tortor est sed lorem. Nulla ut dictum lacus, ultricies
          vestibulum sem. Mauris ut luctus nibh, ut aliquam
          ligula. Sed id erat ut nisi fermentum luctus in at
          magna. Cum sociis natoque penatibus et magnis dis
          parturient montes, nascetur ridiculus mus. Aliquam nec
          tristique tortor. Nulla a neque eget magna dapibus
          vehicula. Etiam id erat at risus condimentum semper ut
          sit amet nulla.
          elit.</p>
        random text. It
        Phasellus sodales pharetra maximus.
        Lorem ipsum dolor sit amet, consectetur adipiscing
        <p></p>
        <h4>Some Heading</h4>
        <p>Contrary to popular belief, Lorem Ipsum is not simply has roots in a piece of classical Latin
          literature from 45 BC, making it over 2000 years
          old.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="list-group">
      <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">Sub Header 1</h4>
        <p class="list-group-item-text">Lorem ipsum dolor sit
          amet, consectetur adipiscing elit. In vestibulum gravida mi, in condimentum augue fermentum
          vel. Phasellus et iaculis elit. Vivamus odio ligula, sodales ut finibus auctor, vehicula vel odio.</p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Sub Header 2</h4>
        <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum gravida mi, in
          condimentum augue fermentum
          vel. Phasellus et iaculis elit. Vivamus odio ligula,
          sodales ut finibus auctor, vehicula vel odio.</p> </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Sub Header 3</h4>
        <p class="list-group-item-text">Lorem ipsum dolor sit
          amet, consectetur adipiscing elit. In vestibulum gravida mi, in condimentum augue fermentum
          vel. Phasellus et iaculis elit. Vivamus odio ligula, sodales ut finibus auctor, vehicula vel odio.</p>
    </a> </div>
  </div>
</div>
